.page {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none; 
}

.nav a {
    color: #404040;
    font-size: 13px;
    text-decoration: none;
}

.nav a.link-text:hover {
    text-decoration: underline;
}

.nav-left li {
    padding-left: 18px;
}

.nav-right { 
    display: flex;
    align-items: center;
}

.nav-right li {
    display: flex;
    align-items: center;
    padding-right: 18px;
}

.nav-right .link-grid{
    height: 16px;
}

.nav-right .icon-grid {
    height: 16px;
}

.nav-right button{
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    text-decoration: none;
    color: #fff;
}

.nav-right button:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15)
}

.page-content {
    display: flex;
    justify-content: center;
}

.page-island {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-island .img-google-logo {
    width: 272px;
    padding-bottom: 34px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 584px;
    height: 44px;
    margin-bottom: 34px;
    border-radius: 50px;
    border: 1px solid #dfe1e5;  
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-bar .icon-search {
    width: 16px;
    height: 16px;
    margin-left: 14px;
}

.search-bar .icon-google-mic {
    width: 24px;
    margin-right: 14px;
}

.search-bar .icon-google-mic:hover {
    cursor: pointer;
}

.search-bar .search-input {
    height: 34px;
    width: 487px;
    border: none;
}

.search-bar .search-input:focus {
    outline: none;
}

.island-buttons {
    margin-bottom: 34px;;
}

.island-button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
}

.island-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.island-button:focus {
    outline: none;
}

.island-link {
    font-size: 13px;
    text-decoration: none;
    color: #1a0dab;
}

.island-link:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 40px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.footer .footer-right {
    display: flex;
}

.footer .footer-left {
    display: flex;
}

.footer ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer li {
    list-style: none; 
}

.footer .link-text {
    font-size: 14px;
    text-decoration: none;
    color: #5f6368;
}

.footer .link-text:hover {
    text-decoration: underline;
}

.footer .footer-left li {
    margin-left: 27px;
}

.footer .footer-right li {
    margin-right: 27px;
}